<table>
    <tr>
      <th>Active:</th>
      <th>Attendance:</th>
      <th>Information:</th>
      <th>New Students:</th>
      <th>New Courses:</th>
      <th>Tests:</th>
      <th>Drops:</th>
    </tr>
  </table>

  <%= link_to "<<Back", select_date_path(@user, format: :js, selected: @selected, prev_date: params[:start_date], dir: "backward"), method: :get, remote: true%>
  <%= link_to "Next>>", select_date_path(@user, format: :js, selected: @selected, prev_date: params[:start_date], dir: "forward"), method: :get, remote: true %>

  <%= month_calendar do |date| %>
    <%= date.day %>
    <% sum = 0 %>
    <% @attendance.each do |a| %>
      <% sum = sum + 1 if a.when.between?(date.beginning_of_day,date.end_of_day) %>
    <% end %>
    <%= link_to sum, school_path(id: params[:selected], prev_date: params[:start_date], date: date, selected: @selected) %>
  <% end %>