<p id="notice"><%= notice %></p>

<%= link_to "Back", user_path(params[:user], selected: @school.id, prev_date: params[:date]) %> | 
<%= link_to "School Open", "#" %> or
<%= link_to "School Closed", "#" %>


<table>
    <tr>
      <th>Active:</th>
      <th>Attendance:</th>
      <th>Information:</th>
      <th>New Students:</th>
      <th>New Courses:</th>
      <th>Tests:</th>
      <th>Drops:</th>
    </tr>
</table>

<div id="attendance"> 
  <br>
  <strong> Attendance: </strong>
  <%= form_tag(mark_attendances_path(@school), method: "get") do %>
    <%= select_tag :present, options_from_collection_for_select(@students_absent, "id", "first_name") , multiple: true%>
    <%= hidden_field_tag :user, @user_id.to_s %>
    <%= hidden_field_tag :date, @date.to_s %>
    <br>
    <%= submit_tag("Mark Present") %>
  <% end %>
  <ol>
    <% @students_present.each do |s| %>
        <li><%= s.first_name + " " + s.last_name %></li>
    <% end %>
  </ol>
  <br>

  <% new_registrations = NewStudentEvent.where(signup_date: @date.beginning_of_day..@date.end_of_day) %>
  <% if !new_registrations.nil? %>
    <strong>New Registrations</strong>
    <ol>
    <% new_registrations.each do |n| %>
      <% s = Student.find(n.student_id) %>
      <li><%= s.first_name %></li>
    <% end %>
    </ol>
  <% end %>

  <%= button_to "New Student", register_student_path(date: @date,user: @user_id) %>
  <%= button_to "New Information", "#" %>
  <%= button_to "New Test", "#" %>
  <%= button_to "New MLT Lesson", "#" %>
  <%= button_to "New Drop", "#" %>

</div>


