<p id="notice"><%= notice %></p>

<%= link_to "Back", "#" %> | 
<%= link_to "School Open", "#" %> or
<%= link_to "School Closed", "#" %>


<table>
    <tr>
      <th>Active:</th>
      <th>Attendance:</th>
      <th>Information:</th>
      <th>New Students:</th>
      <th>New Courses:</th>
      <th>Tests:</th>
      <th>Drops:</th>
    </tr>
</table>

<div id="attendance">
  <strong> Attendance: </strong>
  <ol>
    <% @students_present.each do |s| %>
        <li><%= s.first_name + " " + s.last_name %></li>
    <% end %>
  </ol>
</div>


