<p id="notice"><%= notice %></p>

<%= link_to "Back", user_path(params[:user], selected: @school.id, prev_date: params[:date]) %> | 
<%= link_to "School Open", "#" %> or
<%= link_to "School Closed", "#" %>


<table>
    <tr>
      <th>Active:</th>
      <th>Attendance:</th>
      <th>Information:</th>
      <th>New Students:</th>
      <th>New Courses:</th>
      <th>Tests:</th>
      <th>Drops:</th>
    </tr>
</table>

<div id="attendance"> 
  <br>
  <strong> Attendance: </strong>
  <%= form_tag(mark_attendances_path(@school), method: "get") do %>
    <%= select_tag :present, options_from_collection_for_select(@students_absent, "id", "first_name") , multiple: true%>
    <%= hidden_field_tag :user, @user_id.to_s %>
    <%= hidden_field_tag :date, @date.to_str %>
    <br>
    <%= submit_tag("Mark Present") %>
  <% end %>
  <ol>
    <% @students_present.each do |s| %>
        <li><%= s.first_name + " " + s.last_name %></li>
    <% end %>
  </ol>
  <br>
  <%= button_to "New Student", "#" %>
</div>


