<p id="notice"><%= notice %></p>

<p>
  <strong>Oyd:</strong>
  <%= @student.oyd_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Nick name:</strong>
  <%= @student.nick_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @student.birth_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

<p>
  <strong>Drop reason:</strong>
  <%= @student.drop_reason %>
</p>

<p>
  <strong>Position:</strong>
  <%= @student.position %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @student.rank %>
</p>

<p>
  <strong>Next rank:</strong>
  <%= @student.next_rank %>
</p>

<p>
  <strong>Class group:</strong>
  <%= @student.class_group %>
</p>

<p>
  <strong>Street:</strong>
  <%= @student.street %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @student.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @student.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @student.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @student.mobile_phone %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @student.home_phone %>
</p>

<p>
  <strong>Parental contact:</strong>
  <%= @student.parental_contact %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @student.occupation %>
</p>

<p>
  <strong>How found:</strong>
  <%= @student.how_found %>
</p>

<p>
  <strong>Intern points:</strong>
  <%= @student.intern_points %>
</p>

<p>
  <strong>Last test date:</strong>
  <%= @student.last_test_date %>
</p>

<p>
  <strong>Next test date:</strong>
  <%= @student.next_test_date %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @student.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @student.instagram %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @student.twitter %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
